html,
body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #ebebeb;
    height: 100%;
}

/* Text */
h1 {
    font-weight: 900;
    background-color: var(--red);
    color: var(--white);
}

h2 {
    font-weight: 600;
    background-color: var(--red);
    color: var(--white);
}
h4 {
    font-weight: 600;
    background-color: var(--red);
    color: var(--white);
    font-size: 2em;
    text-align: center;
    /* margin: 10px 20px; */
    border-radius: 4px;
    padding: 0.2em 0;
    margin-bottom: 0.3em;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* Input/ button */
.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-grow: 1;
}
.hide {
    display: none;
}

.search-input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--white);
    border: none;
    color: #4e4d4d;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 100%;
    transition: all ease-in-out 0.5s;
    margin-right: -2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.margin-top {
    margin-top: 0.5em;
}

.search-input:hover,
.search-input:focus {
    box-shadow: 0 0 1em #00000013;
}

.search-input:focus {
    outline: none;
    background-color: #f0eeee;
}

.search-input::-webkit-input-placeholder {
    font-weight: 100;
    color: grey;
}

.search-input:focus + .search-button {
    background-color: #f0eeee;
}

.search-button {
    border: none;
    background-color: var(--white);
    margin-top: 0.1em;
}

.search-button:hover {
    cursor: pointer;
}

.search-icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
}

#search-all-pokemons {
    display: none;
}

#search-team-pokemons {
    display: none;
}

.pokemon-box-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    padding: 15px;
    color: var(--white);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.pokemon-container {
    display: flex;
    flex-direction: column;
}

h5 {
    font-size: 1.5em;
    margin: 0;
}

.pokemon-info {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1.5em;
}

.pokemon-info p {
    margin: 0;
}

.team-pokemons-container,
.reserves-pokemons-container,
.pokemon-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
}

.pokemon-box-container div:first-child {
    display: flex;
    align-items: center;
}
.pokemon-img {
    width: 130px;
    height: 130px;
    margin: auto auto;
    border-radius: 50px;
}

.nickname-input {
    border-radius: 50px;
    background-color: transparent;
    width: 50%;
    margin: 0 auto;
    border: 1px solid var(--white);
    color: var(--white);
    padding: 0.4em;
    margin-bottom: 1em;
}
.nickname-input::placeholder {
    color: rgba(255, 255, 255, 0.2);
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-top: 2em;
}

.buttons-reserves-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 1em;
}

.buttons-search-all-container {
    margin-top: 2em;
}

.button-pokemon-style {
    width: 100%;
    padding: 0.4em;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    font-size: 0.9em;
    transition: all ease-in-out 0.2s;
}

.button-pokemon-style:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: var(--white);
    color: var(--gray);
}
