.first-page-flex-container {
    height: 100%; 
    justify-content: space-between; 
    display: flex;
    flex-direction: column;
}

.img-text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    /* padding-top: 4em; */
    /* margin-top: 20%; */
}

.img-text-container h1,
.img-text-container h2 {
    font-size: 2.7em;
    margin: 0;
    border-radius: 3px;
    color: #ebebeb;
    padding: 0 1em;
    border: 4px solid #ebebeb;
    background-clip: padding-box;
    position: relative; 

}

.img-text-container h1 {
    transform: rotate(-7deg); 
    z-index: 2; 

}

.img-text-container h2 {
    transform: rotate(2deg); 
    font-size: 1.3em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.img-text-container img {
    position: relative;
    top: 2.8em;
    z-index: 1; 
    margin-top: -1em; 
    height: 338px;
}


.center-content {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 100%;
}

.selection-container {
    max-width: 250px;
    margin: 0 auto;
}

.color-selection-container {
    text-align: center;
    padding-bottom: 2em;
    width: 100%;
    background-color: #fe4a49;
}



.color-selection-container h3 {
    color: #ebebeb;
    font-weight: bold;
    font-size: 1.6em;
    font-weight: 800;
    margin-bottom: 0.2em;
    margin-top: 0.2em;

}

.color-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    /* max-width: 250px; */
    margin: 0 auto;
    justify-content: space-between;
    
}

.color-content {
    border: 4px solid #ebebeb;
    border-radius: 50px;
    height: 5em;
    width: 5em;
    /* flex-grow: 1; */
    
}

.red-color {
    background-image: url(assets/img/pokemon-red.png);
    background-color: #fe4a49;
    background-size: cover;
}

.blue-color {
    background-image: url(assets/img/pokemon-blue.png);
    background-color: #28536b;
    background-size: cover;

}
.yellow-color {
    background-image: url(assets/img/pokemon-yellow.png);
    background-size: cover;
    background-color: #f9a03f;
    transition: transform 0.3s ease-in-out;
}

.yellow-color:hover {
        background-size: 150%;
        background-position-y: -90px;
        background-position-x: -20px;
}

.red-color:hover {
    background-size: 150%;
    background-position-y: -110px;
}

.blue-color:hover {
    background-size: 150%;
    background-position-x: -15px;
}
/* CSS */

.display-none {
    display: none;
}
.nav-flex-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.circle-menu {
    width: 3em;
    height: 3em;
    background-color: #fe4a49;
    border-radius: 50px;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.menu-line {
    background-color: #ebebeb;
    height: 5px;
    border-radius: 50px;
    width: 2em;
    margin: 0.2em;
}







  #team-manager-page {
    display: none;
  }