/* CSS för förstasidan */
.first-page-flex-container {
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
/* Logotyp */
.img-text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.img-text-container h1,
.img-text-container h2 {
    font-size: 2.7em;
    margin: 0;
    border-radius: 3px;
    color: var(--white);
    padding: 0 1em;
    border: 4px solid var(--white);
    background-clip: padding-box;
    position: relative;
}

.img-text-container h1 {
    transform: rotate(-7deg);
    z-index: 2;
}

.img-text-container h2 {
    transform: rotate(2deg);
    font-size: 1.3em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.img-text-container img {
    position: relative;
    top: 2.8em;
    z-index: 1;
    margin-top: -1em;
    height: 338px;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.selection-container {
    max-width: 250px;
    margin: 0 auto;
}
/* Byta teman, lagnamn, input */
.color-selection-container {
    text-align: center;
    padding-bottom: 2em;
    width: 100%;
    background-color: var(--red);
}

.color-selection-container h3 {
    color: var(--white);
    font-weight: bold;
    font-size: 1.6em;
    font-weight: 700;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

.color-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 0 auto;
    justify-content: space-between;
}

.color-content {
    border: 4px solid var(--white);
    border-radius: 50px;
    height: 5em;
    width: 5em;
    transition: 0.05s;
    cursor: pointer;
}

.color-content:hover {
    border: 2px solid var(--white);
    transition: 0.15s ease-in-out;
}

.red-img,
.blue-img,
.yellow-img {
    background-repeat: no-repeat;
    transition: 0.05s;
}

.red-img {
    background-image: url(assets/img/pokemon-red.png);
    background-color: var(--red);
    background-size: 100%;
    background-position-x: 12px;
    background-position-y: 8px;
    background-color: #e75e5e;
}

.blue-img {
    background-image: url(assets/img/pokemon-blue.png);
    background-color: var(--blue);
    background-size: 100%;
    background-position: center center;
    background-position-y: 8px;
    background-color: #4282a4;
}
.yellow-img {
    background-image: url(assets/img/pokemon-yellow.png);
    background-size: 100% auto;
    background-color: var(--yellow);
    background-position: center center;
    background-color: #f9b56c;
}

.yellow-img:hover,
.blue-img:hover,
.red-img:hover {
    transform: scale(1.2);
    transition: 0.15s ease-in-out;
    background-size: 150% auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.yellow-img:hover {
    background-color: var(--yellow);
}

.red-img:hover {
    background-position: center center;
    background-position-x: 6px;
    background-position-y: 8px;
    background-color: var(--red);
}

.blue-img:hover {
    background-color: var(--blue);
}

.line-up-container {
    padding: 25px;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    color: var(--white);
    margin: 1em 0;
}

/* Hamburger /Input / meny-länkar */
#input-visability {
    flex-grow: 1;
}

.nav-flex-container {
    display: none;
    padding: 25px;
}
.circle-menu {
    display: none;
    width: 3em;
    height: 3em;
    background-color: var(--red);
    border-radius: 50px;
    margin-right: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.menu-line {
    background-color: var(--white);
    height: 5px;
    border-radius: 50px;
    width: 2em;
    margin: 0.2em;
    transition: 0.3s;
}

.menu-container {
    display: none;
    top: 80px;
    height: 80vh;
    width: 100%;
    margin: 0 auto;
    background-color: var(--white);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s;
}

.menu-container.show-menu {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: 0.3s;
}

.menu-item {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.3s;
}

.menu-container .menu-item:first-child {
    transform: rotate(2.4deg);
}
.menu-container .menu-item:first-child:hover {
    transform: rotate(-2.4deg);
}
.menu-container .menu-item:nth-child(2) {
    transform: rotate(-2.1deg);
}
.menu-container .menu-item:nth-child(2):hover {
    transform: rotate(2.1deg);
}
.menu-container .menu-item:last-child {
    transform: rotate(2.3deg);
}
.menu-container .menu-item:last-child:hover {
    transform: rotate(-2.3deg);
}

.menu-container ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-container a {
    text-decoration: none;
    list-style: none;
    color: var(--white);
    text-align: center;
    padding: 0.4em 0;
    border-radius: 4px;
    font-size: 1.4em;
    font-weight: 700;
    box-sizing: border-box;
    width: 300px;
    margin: 0.7em auto;
}

.menu-container a {
    margin-top: 0.4em;
}

.cross .menu-line:nth-child(1) {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.cross .menu-line:nth-child(2) {
    opacity: 0;
}

.cross .menu-line:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Input */
.search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-grow: 1;
}
.hide {
    display: none;
}

.search-input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--white);
    border: none;
    color: #4e4d4d;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 100%;
    transition: all ease-in-out 0.5s;
    margin-right: -2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.margin-top {
    margin-top: 0.5em;
}

.search-input:hover,
.search-input:focus {
    box-shadow: 0 0 1em #00000013;
}

.search-input:focus {
    outline: none;
    background-color: #f0eeee;
}

.search-input::-webkit-input-placeholder {
    font-weight: 100;
    color: grey;
}

.search-input:focus {
    background-color: #f0eeee;
}

.search-button {
    border: none;
    margin-top: 0.1em;
    background: none;
    border: none;
}

.search-button:hover {
    cursor: pointer;
}

.search-icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
}

#search-all-pokemons {
    display: none;
}

#search-team-pokemons {
    display: none;
}
/* Startsida-knapp */
.play-icon {
    width: 24px;
    height: 24px;
    fill: #b4b4b4;
    transition: fill 0.3s ease;
    background: none;
    border: none;
}

.play-icon:hover {
    fill: rgb(173, 173, 173);
}

.search-button:hover,
.play-icon:hover {
    transform: scale(1.1);
}

.button-pokemon-style,
.play-icon,
.search-button {
    cursor: pointer;
}


/* CSS för display */
.team-manager-page {
    display: none;
    padding: 0 25px 25px 25px;
    transition: opacity 0.5s;
}

.search-pokemons-page {
    display: none;
    padding: 0 25px 25px 25px;
    transition: opacity 0.5s;
}

#pokemon-page-container.hide-page {
    display: none;
}

#search-team-pokemons, #search-all-pokemons, .hide-page {
    display: none;
}


.display-flex {
    display: flex;
}

.display-block {
    display: block;
}
.display-none {
    display: none;
}
