.first-page-flex-container {
    height: 100%; 
    justify-content: space-between; 
    display: flex;
    flex-direction: column;
}

.img-text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    /* padding-top: 4em; */
    /* margin-top: 20%; */
}

.img-text-container h1,
.img-text-container h2 {
    font-size: 2.7em;
    margin: 0;
    border-radius: 3px;
    color: var(--white);
    padding: 0 1em;
    border: 4px solid var(--white);
    background-clip: padding-box;
    position: relative; 

}


.img-text-container h1 {
    transform: rotate(-7deg); 
    z-index: 2; 

}

.img-text-container h2 {
    transform: rotate(2deg); 
    font-size: 1.3em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.img-text-container img {
    position: relative;
    top: 2.8em;
    z-index: 1; 
    margin-top: -1em; 
    height: 338px;
}


.center-content {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 100%;
}

.selection-container {
    max-width: 250px;
    margin: 0 auto;
}

.color-selection-container {
    text-align: center;
    padding-bottom: 2em;
    width: 100%;
    background-color: var(--red);
}



.color-selection-container h3 {
    color: var(--white);
    font-weight: bold;
    font-size: 1.6em;
    font-weight: 700;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

.color-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    /* max-width: 250px; */
    margin: 0 auto;
    justify-content: space-between;
    
}

.color-content {
    border: 4px solid var(--white);
    border-radius: 50px;
    height: 5em;
    width: 5em;
    transition: 0.05s;

}

.color-content:hover {
    border: 2px solid var(--white);
    transition: 0.15s ease-in-out;
}

.red-img {
    background-image: url(assets/img/pokemon-red.png);
    background-repeat: no-repeat;
    background-color: var(--red);
    background-size: 100%;
    background-position-x: 12px;
    background-position-y: 8px;
    transition: 0.05s;
    background-color: #e75e5e;
}

.blue-img {
    background-image: url(assets/img/pokemon-blue.png);
    background-color: var(--blue);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-position-y: 8px;
    background-color: #4282a4;
    transition: 0.05s;


}
.yellow-img {
    background-image: url(assets/img/pokemon-yellow.png);
    background-repeat: no-repeat;
    background-size:100% auto;
    background-color: var(--yellow);
    background-position: center center;
    background-color: #f9b56c;
    transition: 0.05s;

}

.yellow-img:hover {
        transform: scale(1.2);
        transition: 0.15s ease-in-out;
        background-size: 150% auto;
        background-color: var(--yellow);
    }
    
    .red-img:hover {
        background-position: center center;
        background-position-x: 6px;
        background-position-y: 8px;
        background-size: 150% auto;
        transform: scale(1.2);
        transition: 0.15s ease-in-out;
        background-color: var(--red);
    }
    
    .blue-img:hover {
        background-size: 150% auto;
        background-size: 150% ;
        transform: scale(1.2);
        transition: 0.15s ease-in-out;
        background-color: var(--blue);
}
/* CSS */

#input-visability {
    flex-grow: 1;
}

.nav-flex-container {
    display: none;
    /* justify-content: space-between; */
    padding: 25px;
}
.circle-menu {
    display: none;
    width: 3em;
    height: 3em;
    background-color: var(--red);
    border-radius: 50px;
    margin-right: 1em;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.menu-line {
    background-color: var(--white);
    height: 5px;
    border-radius: 50px;
    width: 2em;
    margin: 0.2em;
}

  .team-manager-page {
    display: none;
    padding: 0 25px 25px 25px;
  }

  .search-pokemons-page {
    display: none;
    padding: 0 25px 25px 25px;
}

  

  .pokemon-item {
    background-color: rgb(217, 208, 208);
    border-radius: 4px;
    padding: 25px;
    margin: 0.6em 0;
  }

  .team-stats {
    padding: 25px;
    border-radius: 4px;
    color: var(--white)
  }
/* Hamburger */
.menu-container {
    display: none;
    top: 80px;
    height: 80vh;
    width: 100%;
    margin: 0 auto;
    background-color: var(--white);
    z-index: 2;
    opacity: 0; /* Initially set the opacity to 0 */
    transition: opacity 0.5s; /* Add a transition for the opacity property */
}

.menu-container.show-menu {
    display: flex;
    flex-direction: column;
    opacity: 1; /* Set opacity to 1 when the menu is shown */
}

#pokemon-page-container.hide-page {
    display: none;
}

.hide-page {
    display: none;
}

.menu-container ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-container a {
    text-decoration: none;
    list-style: none;
    color: var(--white);
    text-align: center;
    padding:0.4em 0;
    border-radius: 4px;
    font-size: 1.4em;
    font-weight: 700;
    box-sizing: border-box;
    width: 300px;
    margin: 0.7em auto
}

.menu-container a {
    margin-top: 0.4em;
}


.display-flex {
    display: flex;
}

.display-block {
    display: block;
}
.display-none {
    display: none;
}