/* Färger */
:root {
    --red: #fe4a49;
    --yellow: #f9a03f;
    --blue: #28536b;
    --white: #ebebeb;
    --green: #0c7c59;
    --bug: #50c079;
    --gray: #545863;
    --purple: #d56aa0;
    --normal: #747460;
    --poison: #87355e;
    --fighting: #941313;
  }

/* Färgteman */
.theme-red {
    background-color: var(--red);

}
.theme-blue {
    background-color: var(--blue);
}

.theme-yellow {
    background-color: var(--yellow);
}

.theme-green {
    background-color: var(--green);
}
.theme-gray {
    background-color: var(--gray);
}
.theme-purple {
    background-color: var(--purple);
}
.theme-normal {
    background-color: var(--normal);
}
.theme-poison {
    background-color: var(--poison);
}
.theme-fighting {
    background-color: var(--fighting);
}
.theme-bug {
    background-color: var(--bug);
}